div.site__block.site__widget.photos__upload.valign-wrapper.z-depth-1
    div.photos__upload__panel.valign
        a.btn.waves-effect.waves-light(href="#", ngf-select="true", ngf-multiple="true", ngf-accept="'.jpg,.png'", ngf-change="vm.upload($files)")
            | Select File