doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        block title
            title kolbasik
        meta(name='description', content='The Albelli test assignment of Photo Management Tool')
        link(rel='stylesheet', media="screen,projection", href='plugins/angular-csp.css')
        link(rel='stylesheet', media="screen,projection", href='plugins/css/materialize.min.css')
        link(rel='stylesheet', media="screen,projection", href='site.css')
    body
        <!--[if lt IE 8]>
        div.section
            p.browsehappy
                | You are using an <strong>outdated</strong> browser.
                | Please <a href="http://browsehappy.com/">upgrade your browser</a>
                | to improve your experience.
        <![endif]-->
        block content

        script(src='plugins/jquery.min.js')
        script(src='plugins/js/materialize.min.js')
        script(src='plugins/angular.min.js')
        script(src='plugins/ng-file-upload.min.js')
        script(src='plugins/canvas-to-blob.min.js')
        script(src='site.js')
