extends _layout
block title
    title Albelli: Photo Management Tool

block content
    section.site__block.photos
        div.site__block.photos__list
            | list
        div.site__block.photos__preview
            | preview
        div.site__block.photos__upload
            | upload