extends _layout
block title
    title Albelli: Photo Management Tool

block content
    photos-view
    script window.onload = function() { angular.element(document).ready(function() { angular.bootstrap(document.body, ['PhotosApp']); }); }
